/* Layered Popup Common Style
.cAlphaBox{position:absolute;z-index:50;top:0;left:0;background:url(http://mzimg.megapass.net/images/contentszone/layer/bg_alpha.png);_filter:alpha(opacity=30);} */
/*2010-11-22 penta수정
.cLayer{position:absolute;z-index:100;display:none;background:#2d2d2d no-repeat right top; padding:5px}
.cLayer .cLH{height:25px;padding:13px 0 0 40px; background:url(http://mzimg.megapass.net/images/contentszone/common_zone/ic_blt3.gif) no-repeat left top ; margin:-5px 0 0 -5px}
.cLayer .cLH div{position:absolute;top:13px;right:13px;}
.cLayer .cLH div a{display:block;width:14px;height:14px;background:url(http://mzimg.megapass.net/images/contentszone/common_zone/bt_lp_cl.gif) no-repeat;}
.cLayer .cLH div a span{display:none;}
.cLayer .cLF{text-align:center;padding:10px 20px 20px 20px;line-height:5px; background:#fff; }
.cLayer .cLC{padding:20px 20px 1px 20px; background:#fff; }
*/
/*2010-11-22 penta수정
.cLayer{position:absolute;z-index:100;display:none;}
.cLayer .cLH{height:22px;padding:13px 0 0 14px;}
.cLayer .cLH div{position:absolute;top:13px;right:13px;}
.cLayer .cLH div a{display:block;width:14px;height:14px;background:url(http://mzimg.megapass.net/images/contentszone/layer/bt_lp_cl.gif) no-repeat;}
.cLayer .cLH div a:hover{background-position:0 -14px;}
.cLayer .cLH div a span{display:none;}
.cLayer .cLF{text-align:center;padding-bottom:16px;line-height:5px;}
.cLayer .cLC{padding:0 15px;}

.cLayer2{width:340px;background:url(http://mzimg.megapass.net/images/contentszone/layer/bg_lp_2f.gif) no-repeat left bottom;}
.cLayer2 .cLH{background:url(http://mzimg.megapass.net/images/contentszone/layer/bg_lp_2t.gif) no-repeat;}
*/

.cLTxt{text-align:center;padding:1px 0 6px 0;}
.cLMsg{text-align:center;padding:1px 0 15px 0;}
.cLMsg .cLSmsg{font-size:11px;}
.cLMsg .cLNotice{background:url(http://mzimg.megapass.net/images/contentszone/layer/bg_dotline.gif) repeat-x top;padding:8px 0 0 0;margin-top:7px;}
.cLMsg .cLNotice a{text-decoration:underline;color:#000;}
.cLMsg .cLNotice a.f1{color:#858585;font-weight:bold;letter-spacing:-1px;}
.cLMsg .cLNotice .bar{color:#cdcdcd;}
.cLNotice{clear:both;text-align:left;padding-bottom:10px;}
.cLNotice li{background:url(http://mzimg.megapass.net/images/contentszone/layer/ic_ptmark.gif) no-repeat 0 3px;padding-left:16px;font-size:11px;color:#858585;}

.pCont .cLMsg{}
.pCont .box{margin-top:5px;padding:6px 0 3px 0;background:#f4f4f4;border:1px solid #e9e9e9;line-height:17px;}